.build/arm64-apple-macosx/debug/SwiftUICalendar.build/master.priors
.build/build.db
.build/.lock
.build/arm64-apple-macosx/debug/index/store/v5/records/00/CalendarView.swift-3AFAYUFUXO600
.build/arm64-apple-macosx/debug/index/store/v5/records/ZB/CalendarView.swift-1U2D6DQF64PZB
.build/arm64-apple-macosx/debug/index/store/v5/records/ZD/CalendarView.swift-3AKIMFY2BYZD
.build/arm64-apple-macosx/debug/Modules/SwiftUICalendar.swiftmodule
.build/arm64-apple-macosx/debug/Modules/SwiftUICalendar.swiftsourceinfo
